extends layout

block scripts
  script(src='/search.js')

block content

  h1 Welcome, #{user.displayName} !

  p You are logged in.

  form(action="/logout" method="post")
    input(type="hidden" name="_csrf" value=csrf)
    button.btn.btn-primary(type="submit") Logout

  div.designers
    each designer in designers
      p #{designer.title}

  label(for="search") Search
  input.form-control(type="search" id="searchInput" name="search")
